/* Color Palette
# - Color 1 - #FFFFFF (Light Mint Green background for work experience section)
# - Color 2 - #1a5e39 (Dark green for h1 headings)
# - Color 3 - #1a7845 (Lighter green for h2 headings)
# - Color 4 - #c49f7e (Light orange background for footer and header)
*/

/* Global styles 
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #f5faf6; /* Color 1: White background */
    color: #333333; /* Dark gray text color */
    font-family: 'Overpass', sans-serif;
    font-size: 100%;
    margin: 0;
}

h1 {
    font-size: 30px;
    color: #1a5e39; /* Dark green for h1 headings */
    margin: 0;
}

h2 {
    font-size: 20px;
    color: #458756; /* Lighter green for h2 headings */
    margin-top: 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #333333; /* Dark gray text color */
}

nav {
  text-align: center;
  padding: 5px;
  background-color: #95dec4;
}

nav a{
  text-decoration:none;
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
  color: #783e3d;
  font-weight: bold
}

nav a:hover{
  color:#f5faf6
}

.content-wrap{
    margin: 0 auto;
    padding: 50px;
    max-width: 950px;
    overflow:hidden;
   
}

.column-narrow{
  width: 30%; 
  float: left; 
  padding-right: 3%; 
  min-height: 175px;
}

.column-wide{
  width: 70%;
  float: left; 
  min-height: 225px;
}

.nav-bar{
  position: fixed;
  width: 100%;
  top:0;
}


/* Header & Footer 
------------------------------------*/
header {
    background-color: #c49f7e; /* Light orange background for header */
    margin: 0 auto
  }

footer {
    background-color: #c49f7e; /* Light orange background for footer */
    text-align: center
}

.profile-img{
/*   width: 300px; */
  border-radius:50%;
/*   float: left;
  margin-right: 30px */
}

.contact-info a{
  padding: 10px; 
  display: inline-block;
}

/* Work Experience
------------------------------------*/
.workExperienceSection {
    background-color: #f5faf6; /* Light Mint Green background for work experience section */
}

/* Education
------------------------------------*/
.educationSection {
    background-color: #f5faf6; /* Light Mint Green background for education section */
}

.image-bg{
  background: url(https://cdn.glitch.global/592d1656-e1e5-491e-af06-5200ca308bb2/nature.jpg?v=1697256075509) no-repeat;
  background-size: cover
}

.alpha-bg{
  width: 100%;
  padding: 20px;
  height: 100%;
  color: black;  
  background: rgba(200, 222, 203, 0.80);
}

